Source: pybdsf
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=11),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-numpy,
 python3-scipy,
 python3-dev,
 python3-astropy,
 python3-matplotlib,
 libboost-python-dev,
 libboost-numpy-dev,
 gfortran
Standards-Version: 4.5.0
Homepage: http://www.astron.nl/citt/pybdsf/
X-Python-Version: >= 3.8

Package: pybdsf
Architecture: any
Depends:
 ${shlibs:Depends},
 ${python:Depends},
 ${misc:Depends},
 python3-ipython,
 python3-astropy,
 python3-matplotlib
Description:Python Blob Detection and Source Finder
 PyBDSF (the Python Blob Detection and Source Finder, formerly PyBDSM)
 is a tool designed to decompose radio interferometry images into sources
 and make available their properties for further use. PyBDSF can decompose
 an image into a set of Gaussians, shapelets, or wavelets as well as
 calculate spectral indices and polarization properties of sources and
 measure the psf variation across an image. PyBDSF uses an interactive
 environment based on CASA that will be familiar to most radio astronomers.
 Additionally, PyBDSF may also be used in Python scripts.
 .
 The documentation is currently hosted at http://www.astron.nl/citt/pybdsf
